<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Who We Are</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">What We Do</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Where We Work</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} | 7600 Wisconsin Ave, Suite 1010 | Bethesda, Maryland 20814 USA | Tel: +1.301.961.1660 | Fax: +1.301.961.6605 | info@democracyinternational.com | All Rights Reserved</p>
            </div>
           <!--<div class="col-md-4">
                Credits: <a href="https://github.com/mbaldassaro">Michael Baldassaro</a>.
            </div>-->
        </div>
    </div>
</footer>
