<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{site.url}}/><img src="{{site.url}}/img/DI-Logo-with-Text-Transparent.png" height=30 width=150 class="logo" /></a>
        </div> <!--removed {{ site.title }}-->
        
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href={{site.url}}/about class="dropdown-toggle" data-toggle="dropdown">Who We Are</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{site.url}}/about">About Us</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Clients and Partners</a></li>
                                <li><a href="#">Join Us</a></li>
                            </ul>
                        </li>  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Elections and Political Processes</a></li>
                                <li><a href="#">Governance and Rule of Law</a></li>
                                <li><a href="#">Analytical Services</a></li>
                                <li><a href="#">Democratic Transition</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Where We Work</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Africa</a></li>
                                <li><a href="#">Asia</a></li>
                                <li><a href="#">Central and Eastern Europe</a></li>
                                <li><a href="#">Latin and South America</a></li>
                                <li><a href="#">Middle East and North Africa</a></li>
                            </ul>
                    </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

