<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<br/>
	<br/>
	<div id="site-wrapper">
		<div id="site-canvas">

			<div id="site-menu">
				<h2>My Menu</h1>
					<p class="lead">Put any HTML you want here.</p>
					<p>Style it however you want</p>
					<ul>
						<li>Free to scroll up and down</li>
						<li>But not left and right</li>
					</ul>
				</div>	

				<a href="#" class="toggle-nav btn btn-lg btn-success" id="big-sexy"><i class="fa fa-bars"></i>Toggle Nav</a>
			
			<h1 class="text-center">Off Canvas Menu Tutorial</h1>
            	<p class="lead text-center">Basic demo showing how to easily implement an Off Canvas Menu</p>

			</div>

		</div>	
	</div>
</body>
</html>
