<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Meet the Team</title>
		<meta name="description" content="Meet The Team: Democracy International Staff &amp; Consultants" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/default.css" />
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/component.css" />
		<script src="{{site.url}}/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">	

			<header class="clearfix">
				<h1>Meet The Team<span>DI Staff &amp; Consultants</span></h1>	
			</header>
			<div class="main">

				<ul id="rb-grid" class="rb-grid clearfix">
					<li class="icon-clima-1 rb-span-2">
						<h3 class="rb-title">Eric Bjornlund</h3><span class="rb-temp">Co-Founder<br/>&amp; Principal</span><img src="http://democracyinternational.com/sites/default/files/imagecache/staff_profile_picture/eric.jpg" class="headshot" height="150em" width="150em">
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Co-Founder &amp; Principal</span><span class="icon-clima-2"></span><span>Eric Bjornlund</span></div>
								<div><span>Mon</span><span class="icon-clima-1"></span><span>12°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-2 rb-span-2">
						<h3 class="rb-title">Glenn Cowan</h3><span class="rb-temp">Co-Founder<br/>&amp; Principal</span><img src="http://democracyinternational.com/sites/default/files/imagecache/staff_profile_picture/Glenn.JPG" class="headshot" height="150em" width="150em">
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Co-Founder &amp; Principal</span><span class="icon-clima-2"></span><span>Glenn Cowan</span></div>
								<div><span>Mon</span><span class="icon-clima-1"></span><span>12°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-1">
						<h3>Jed Ober</h3><span class="rb-temp">Director of Programs</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Programs</span><span class="icon-clima-1"></span><span>Jed Ober</span></div>
								<div><span>Mon</span><span class="icon-clima-3"></span><span>16°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-4">
						<h3>Evan Smith</h3><span class="rb-temp">Director of Strategy &amp; Operations</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Strategy &amp; Operations</span><span class="icon-clima-4"></span><span>Evan Smith</span></div>
								<div><span>Mon</span><span class="icon-clima-4"></span><span>-1°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-1">
						<h3>Will Covey</h3><span class="rb-temp">Deputy Director of Programs</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Deputy Director of Programs</span><span class="icon-clima-1"></span><span>Will Covey</span></div>
								<div><span>Mon</span><span class="icon-clima-1"></span><span>18°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-1">
						<h3>Liza Prendergast</h3><span class="rb-temp">Deputy Director of Strategy</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Deputy Director of Strategy</span><span class="icon-clima-1"></span><span>Liza Prendergast</span></div>
								<div><span>Mon</span><span class="icon-clima-1"></span><span>23°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-2">
						<h3>Dan Murphy</h3><span class="rb-temp">Director of Elections &amp; Political Processes</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Elections &amp; Political Processes</span><span class="icon-clima-2"></span><span>Dan Murphy</span></div>
								<div><span>Mon</span><span class="icon-clima-1"></span><span>22°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-11">
						<h3>Michael Baldassaro</h3><span class="rb-temp">Innovation Director</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Innovation Director</span><span class="icon-clima-11"></span><span>Michael Baldassaro</span></div>
								<div><span>Mon</span><span class="icon-clima-11"></span><span>3°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-2">
						<h3>Yemile Mizrahi</h3><span class="rb-temp">Director of Research &amp; Analytical Services</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Research &amp; Analytical Services</span><span class="icon-clima-2"></span><span>Yemile Mizrahi</span></div>
								<div><span>Mon</span><span class="icon-clima-2"></span><span>16°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-2">
						<h3>Greg Minjack</h3><span class="rb-temp">Campaigns &amp; Political Processes Expert</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Campaigns &amp; Political Processes Expert</span><span class="icon-clima-2"></span><span>Greg Minjack</span></div>
								<div><span>Mon</span><span class="icon-clima-1"></span><span>7°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-4">
						<h3>Angela Lim</h3><span class="rb-temp">Director of Accounting &amp; Finance</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Accounting &amp; Finance</span><span class="icon-clima-4"></span><span>Angela Lim</span></div>
								<div><span>Mon</span><span class="icon-clima-4"></span><span>24°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-4">
						<h3>Jessica Sysak</h3><span class="rb-temp">Director of Human Resources</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Human Resources</span><span class="icon-clima-4"></span><span>Jessica Sysak</span></div>
								<div><span>Mon</span><span class="icon-clima-4"></span><span>24°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-4">
						<h3>David Dettman</h3><span class="rb-temp">Director of Rule of Law</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Director of Rule of Law</span><span class="icon-clima-4"></span><span>David Dettman</span></div>
								<div><span>Mon</span><span class="icon-clima-4"></span><span>24°C</span></div>
							</div>
						</div>
					</li>
					<li class="icon-clima-4">
						<h3>Jennifer Blitz</h3><span class="rb-temp">Senior Program Manager</span>
						<div class="rb-overlay">
							<span class="rb-close">close</span>
							<div class="rb-week">
								<div><span class="rb-city">Senior Program Manager</span><span class="icon-clima-4"></span><span>Jennifer Blitz</span></div>
								<div><span>Mon</span><span class="icon-clima-4"></span><span>24°C</span></div>
							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</div><!-- /container -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{site.url}}/js/boxgrid.js"></script>
<script src="{{site.url}}/js/jquery.fittext.js"></script>
<script src="{{site.url}}/js/modernizr.custom.js"></script>
<script>
			$(function() {

				Boxgrid.init();
				

			});
		</script>
<!--

<script>
var $items = $( '#rb-grid > li' ),
    transEndEventNames = {
        'WebkitTransition' : 'webkitTransitionEnd',
        'MozTransition' : 'transitionend',
        'OTransition' : 'oTransitionEnd',
        'msTransition' : 'MSTransitionEnd',
        'transition' : 'transitionend'
    },
 
    // transition end event name
    transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
 
    // window and body elements
    $window = $( window ),
    $body = $( 'BODY' ),
 
    // transitions support
    supportTransitions = Modernizr.csstransitions,
 
    // current item's index
    current = -1,
 
    // window width and height
    winsize = getWindowSize();

    function init( options ) {      
    // apply fittext plugin
    $items.find( 'div.rb-week > div span' ).fitText( 0.3 ).end().find( 'span.rb-city' ).fitText( 0.5 );
    initEvents();
}

function initEvents() {
     
    $items.each( function() {
 
        var $item = $( this ),
            $close = $item.find( 'span.rb-close' ),
            $overlay = $item.children( 'div.rb-overlay' );
 
        $item.on( 'click', function() {
 
            if( $item.data( 'isExpanded' ) ) {
                return false;
            }
            $item.data( 'isExpanded', true );
            // save current index of the item
            current = $item.index();
 
            var layoutProp = getItemLayoutProp( $item ),
                clipPropFirst = 'rect(' + layoutProp.top + 'px ' + ( layoutProp.left + layoutProp.width ) + 'px ' + ( layoutProp.top + layoutProp.height ) + 'px ' + layoutProp.left + 'px)',
                clipPropLast = 'rect(0px ' + winsize.width + 'px ' + winsize.height + 'px 0px)';
 
            $overlay.css( {
                clip : supportTransitions ? clipPropFirst : clipPropLast,
                opacity : 1,
                zIndex: 9999,
                pointerEvents : 'auto'
            } );
 
            if( supportTransitions ) {
                $overlay.on( transEndEventName, function() {
 
                    $overlay.off( transEndEventName );
 
                    setTimeout( function() {
                        $overlay.css( 'clip', clipPropLast ).on( transEndEventName, function() {
                            $overlay.off( transEndEventName );
                            $body.css( 'overflow-y', 'hidden' );
                        } );
                    }, 25 );
 
                } );
            }
            else {
                $body.css( 'overflow-y', 'hidden' );
            }
 
        } );
 
        ...
 
    } );
 
    ...
 
}
 
function getItemLayoutProp( $item ) {
         
    var scrollT = $window.scrollTop(),
        scrollL = $window.scrollLeft(),
        itemOffset = $item.offset();
 
    return {
        left : itemOffset.left - scrollL,
        top : itemOffset.top - scrollT,
        width : $item.outerWidth(),
        height : $item.outerHeight()
    };
 
}


function initEvents() {
     
    $items.each( function() {
 
        ...
 
        $close.on( 'click', function() {
 
            $body.css( 'overflow-y', 'auto' );
 
            var layoutProp = getItemLayoutProp( $item ),
                clipPropFirst = 'rect(' + layoutProp.top + 'px ' + ( layoutProp.left + layoutProp.width ) + 'px ' + ( layoutProp.top + layoutProp.height ) + 'px ' + layoutProp.left + 'px)',
                clipPropLast = 'auto';
 
            // reset current
            current = -1;
 
            $overlay.css( {
                clip : supportTransitions ? clipPropFirst : clipPropLast,
                opacity : supportTransitions ? 1 : 0,
                pointerEvents : 'none'
            } );
 
            if( supportTransitions ) {
                $overlay.on( transEndEventName, function() {
 
                    $overlay.off( transEndEventName );
                    setTimeout( function() {
                        $overlay.css( 'opacity', 0 ).on( transEndEventName, function() {
                            $overlay.off( transEndEventName ).css( { clip : clipPropLast, zIndex: -1 } );
                            $item.data( 'isExpanded', false );
                        } );
                    }, 25 );
 
                } );
            }
            else {
                $overlay.css( 'z-index', -1 );
                $item.data( 'isExpanded', false );
            }
 
            return false;
 
        } );
 
    } );
 
    ...
 
}
</script>

-->